:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: var(text);
}

.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}
.nav-link:active {
  color: var(--pressed-state);
}
.nav-item {
  list-style-type: none;
}
.logo {
  padding-top: 24px;
  padding-bottom: 1170px;
  padding-left: 24px;
  padding-right: 156px;
}
.logo-first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand);
}
.logo-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--dark);
}
.address-item {
  list-style-type: none;
}

.mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.mail:hover,
.mail:focus,
.mail:active {
  color: var(--pressed-state);
}

.phone-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* Основний контент */
/* секція 1 */
.hero {
  width: 1440px;
  height: 600px;

  background-color: var(--dark);
}
.hero-header {
  position: absolute;
  width: 500px;
  height: 120px;
  left: 480px;
  top: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--primary-brand);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: Medium;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state);
}

/* секція 2 */

.description-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark);
}
.description-list {
  list-style-type: none;
}

.description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* секція 3 */
.title-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.title-info-item {
  list-style-type: none;
}
/* секція 4 */
.title-workers {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.title-workers-item {
  list-style-type: none;
}
.list-workers {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.profession {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* футер */
.logo-second-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}
.promotion {
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--accent);
}
.footer {
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;
  background-color: var(--dark);
}

/* Портфоліо */
/* секція 1 */
.filters-button-active {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  width: 69px;
  height: 48px;
  background: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;

  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  cursor: pointer;
}

.filters-item {
  list-style-type: none;
}
.filters-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: 78px;
  height: 48px;

  background: #f4f4fd;
  color: var(--primary-brand);
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  flex: none;
  order: 2;
  flex-grow: 0;
  font-weight: Medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  cursor: vector;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  background: var(--pressed-state);
  color: #ffffff;
}
.filters-button-active:hover,
.filters-button-active:focus {
  background: var(--primary-brand);
}
/* Vector */
.vector {
  left: 8.33%;
  right: 8.33%;
  top: 0%;
  bottom: 0%;
}

/* секція 2 */

.portfolio-item {
  list-style-type: none;
}
.portfolio-text {
  width: 290px;
  height: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark);

  flex: none;
  order: 0;
  flex-grow: 0;
}
.portfolio-filters {
  width: 30px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  flex: none;
  order: 1;
  flex-grow: 0;
}
